body {
  background-color: hsl(30, 38%, 92%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: white;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 50px;
  width: 400px;
  height: 400px;
}
.img-design {
  width: 300px;
  height: 400px;
  border-radius: 5px;
  margin-left: -50px;
  margin-bottom: 30px;
}

.color-1 {
  color: grey;
  text-align: center;
}

.gabrielle {
  text-align: center;
}
.color-2 {
  color: grey;
  text-align: center;
}
.color-3 {
  color: hsl(158, 36%, 37%);
}
.color-4 {
  color: gray;
  text-decoration: line-through;
  text-align: end;
}

.btn {
  background-color: hsl(158, 36%, 37%);
  color: white;
  padding: 12px;
  border-radius: 10px;
  width: 150px;
  border: none;
  text-align: center;
}
